{% extends 'base.html.twig' %}

{%  block title %}{{ parent() }}Game{% endblock %}

{% block content %}
    <h2>Guess the mysterious word</h2>

    <p class="attempts">
        {{ 'game.remaining_attempts'|transchoice(game.remainingAttempts) }}
    </p>

    <ul class="word_letters">
        {% for letter in game.wordLetters %}
            <li class="letter">
                {{ game.letterFound(letter) ? letter : '?' }}
            </li>
        {% endfor %}
    </ul>

    <br class="clearfix" />

    <p class="attempts">
        {# TODO create route #}
        <a href="/game/reset">Reset the game</a>
    </p>

    <br class="clearfix" />

    <h2>Try a letter</h2>

    <ul>
        {% for letter in 'A'..'Z' %}
            <li class="letter">
                <a href="{{ path('game_play_letter', {letter: letter}) }}">
                    {{ letter }}
                </a>
            </li>
        {% endfor %}
    </ul>

    <h2>Try a word</h2>

    {# TODO create route #}
    <form action="/game/word" method="post">
        <p>
            <label for="word">Word:</label>
            <input type="text" id="word" name="word"/>
            <button type="submit">Let me guess...</button>
        </p>
    </form>
{% endblock %}
