{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}You won!{% endblock %}

{% block content %}
    <h2>Congratulations!</h2>

    <p>
        You found the word <strong>software</strong> and won this game.
    </p>
{% endblock %}
