/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 3.0 License

Name       : Resolved
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20120125
*/

/*
 Web fonts
 ---------
    Copyright (c) 2010, Anton Koovit (<anton@korkork.com>),
    with Reserved Font Name Arvo.

    Downloaded from http://www.google.com/fonts/specimen/Arvo

    This Font Software is licensed under the SIL Open Font License, Version 1.1.
    This license is copied below, and is also available with a FAQ at:
    http://scripts.sil.org/OFL
 */
@font-face {
  font-family: 'Arvo';
  font-style: normal;
  font-weight: 400;
  src: local('Arvo'), url('../fonts/arvo-400-normal.woff') format('woff');
}
@font-face {
  font-family: 'Arvo';
  font-style: normal;
  font-weight: 700;
  src: local('Arvo Bold'), local('Arvo-Bold'), url('../fonts/arvo-700-normal.woff') format('woff');
}
@font-face {
  font-family: 'Arvo';
  font-style: italic;
  font-weight: 400;
  src: local('Arvo Italic'), local('Arvo-Italic'), url('../fonts/arvo-400-italic.woff') format('woff');
}
@font-face {
  font-family: 'Arvo';
  font-style: italic;
  font-weight: 700;
  src: local('Arvo Bold Italic'), local('Arvo-BoldItalic'), url('../fonts/arvo-700-italic.woff') format('woff');
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: underline;
    color: #6B2E42;
}

a:hover {
    text-decoration: none;
}

body {
    background: #C9CFCD url(../images/img01.gif);
    font-size: 11pt;
    color: #323232;
    line-height: 1.75em;
}

body,input {
    font-family: Arial, sans-serif;
}

strong {
    color: #222222;
}

br.clearfix {
    clear: both;
}

h1,h2,h3,h4 {
    letter-spacing: -1px;
    text-transform: lowercase;
    font-weight: normal;
}

h2 {
    font-size: 2.25em;
}

h2,h3,h4 {
    color: #000405;
    font-family: Arvo, serif;
    margin-bottom: 1em;
}

h3 {
    font-size: 1.75em;
}

h4 {
    font-size: 1.5em;
}

img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

img.aligntop {
    margin: 5px 0 20px 0;
}

p {
    margin-bottom: 1.5em;
}

ul {
    margin-bottom: 1.5em;
}

ul h4 {
    margin-bottom: 0.35em;
}

#content {
    background: #FFFFFF;
    width: 595px;
    color: #6E6E6E;
    padding: 45px 35px 0 35px;
    float: left;
    border-bottom: solid 2px #BBC1BF;
}

#content h2, #content h3, #content h4 {
    color: #171717;
}

#footer {
    padding: 30px 0 80px 0;
    text-align: center;
    margin: 0 0 20px 0;
    color: #808384;
    text-transform: lowercase;
}

#footer a {
    color: #808384;
}

#header {
    height: 140px;
    position: relative;
    padding: 35px;
}

#logo {
    position: absolute;
    left: 35px;
    line-height: 110px;
    height: 110px;
    top: 35px;
}

#logo a {
    text-decoration: none;
    color: #000405;
}

#logo h1 {
    font-family: Arvo, serif;
    font-size: 3em;
}

#menu {
    line-height: 60px;
    position: absolute;
    font-family: Arvo, serif;
    background: #6B2E42 url(../images/img02.gif);
    top: 66px;
    right: 0;
    height: 60px;
    border: solid 1px #CA8B9F;
}

#menu a {
    font-size: 1.5em;
    text-transform: lowercase;
    letter-spacing: -1px;
    color: #FFFFFF;
    text-decoration: none;
}

#menu ul {
    padding: 0 15px 0 15px;
    list-style: none;
}

#menu ul li {
    display: inline;
    padding: 0 10px 0 10px;
}

#page {
    margin: 20px 0 20px 0;
    position: relative;
    width: 980px;
    padding: 0;
}

#page .section-list {
    padding-left: 0;
    list-style: none;
}

#page .section-list li {
    clear: both;
    padding: 20px 0 20px 0;
}

#page ul {
    list-style: none;
}

#page ul li {
    padding: 10px 0 10px 0;
    border-top: solid 1px #D9D9D9;
}

#page ul li.first {
    padding-top: 0;
    border-top: 0;
}

#post1 {
    width: 595px;
    overflow: hidden;
    margin: 0 0 35px 0;
}

#post2 {
    width: 280px;
    float: left;
    overflow: hidden;
}

#post3 {
    overflow: hidden;
    margin: 0 0 0 315px;
    width: 280px;
}

#search input.form-submit {
    border: 0;
    background: #6B2E42;
    margin-left: 1em;
    color: #FFFFFF;
    padding: 5px;
    font-family: Arvo, serif;
}

#search input.form-text {
    border: solid 1px #84908D;
    padding: 5px;
}

#sidebar {
    background: #FFFFFF;
    margin: 0 0 0 685px;
    color: #6E6E6E;
    padding: 45px 35px 45px 35px;
    width: 225px;
    border-bottom: solid 2px #BBC1BF;
}

#sidebar h2, #sidebar h3, #sidebar h4 {
    color: #000000;
}

#sidebar ul {
    list-style: none;
}

#sidebar ul li {
    padding: 10px 0 10px 0;
    border-top: solid 1px #D9D9D9;
}

#sidebar ul li.first {
    border-top: 0;
    padding-top: 0;
}

#wrapper {
    width: 980px;
    margin: 35px auto 0 auto;
    position: relative;
}

#page .attempts {
    font-weight: bold;
    text-align: center;
    font-size: 20px;
}

#page .word_letters {
    text-align: center;
    height: 30px;
}

#page .letter a {
    color: #fff;
}

#page .letter {
    padding: 0;
    display: inline-block;
    border: 1px solid #CA8B9F;
    background: #934041;
    color: #fff;
    line-height: 30px;
    font-weight: bold;
    font-size: 20px;
    margin: 5px;
    width: 30px;
    height: 30px;
    text-align: center;
    text-transform: uppercase;
}

#page .guessed {
    background: green;
}
