{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{{ 'page_title.contact'|trans }}{% endblock %}

{% block content %}
    <h2>{{ 'page_title.contact'|trans }}</h2>


    {{ form(contact_form) }}
{% endblock %}
