<div id="header">
    <div id="logo">
        <h1>
            <a href="{{ path('homepage') }}">{{ 'hangman'|trans }}</a>
        </h1>
    </div>
    <div id="menu">
        <ul>
            <li class="first current_page_item">
                <a href="{{ path('game') }}">{{ 'menu.game'|trans }}</a>
            </li>
            <li>
                <a href="/signup">{{ 'menu.register'|trans }}</a>
            </li>
            <li>
                <a href="/signin">{{ 'menu.login'|trans }}</a>
            </li>
            <li>
                <a href="{{ path('contact') }}">{{ 'menu.contact'|trans }}</a>
            </li>
        </ul>
        <br class="clearfix" />
    </div>
</div>
